body{
    font-family: 'Times New Roman', Times, serif;
    background-color: pink;
    margin:20px,20px,20px,20px;
    align-items: center;
    color:green;
}

.header{
    font-family: 'Times New Roman';
    Background-color:yellow;
    align-items: center;
    color:green;
    width:250px;
    margin-left:40%;
    margin-right:60%;
}

.task_bar{
    position: relative;
    background-color: red;
    top:5px;
    color:green;
    margin-left:38%;
    margin-right:62%;
    width:fit-content;
    align-items: center;
    height:fit-content;
    width:fit-content;
}

.task_bar2{
    position: absolute;
    background-color: yellow;
    top:0;
    color:green;
    right:0;
    width:fit-content;
    height:fit-content;
    align-items: center;
}

.dis50{
    position: relative;
    background-color: yellow;
    top:100px;
    color:green;
    margin-left:36%;
    margin-right:64%;
    width:350px;
    align-items: center;
}

.dis30{
    position: relative;
    background-color: yellow;
    top:150px;
    color:green;
    margin-left:36%;
    margin-right:64%;
    width:350px;
    align-items: center;
}

.view{
    position: absolute;
    top:130px;
    width:fit-content
}

.feedback{
    position: absolute;
    background-color: yellow;
    top:320px;
    color:green;
    margin-left:77%;
    margin-right:23%;
    width:350px;
    align-items: center; 
}

.burger{
    position:absolute;
    font-family: 'Times New Roman';
    align-items: center;
    color:green;
    width:250px;
    margin-left:5%;
    margin-right:95%;
}

.checkout{
    position:relative;
    top:550px;
    margin-left:45%;
    margin-right:55%;
}

.form{
    font-family: 'Times New Roman';
    Background-color:red;
    align-items: center;
    color:green;
    width:fit-content;
    margin-left:42%;
    margin-right:58%;
}

th,td{
    padding:10px;
}